div.about-layout{
    margin: 15px;
    border-radius: 10px; /* 设置圆角半径 */
    /* 其他样式，比如背景色、内边距等 */
    background-color: white;
    padding: 20px;
    flex-wrap: wrap; /* 允许子元素换行 */
    gap: 15px; /* 设置子元素之间的间隙 */
    width:calc(100% - 40px);
}
.about{
    top:10px;
    height: 20px; /* 子元素的固定高度 */
    box-sizing: border-box; /* 边框和内边距包含在宽度内 */
    margin: 10px 0;
    white-space: nowrap;
}