{% macro css_script() %}
    <link rel="stylesheet" href="/static/manager.css">
    <script src="/static/manager.js"></script>
    <script src="/static/statusbar.js"></script>
{% endmacro %}
{% macro manager_modal() %}
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form action="/add_rule/" onsubmit="return false;">
      <label for="rulename">规则名称:</label><br>
      <input type="text" id="rulename" name="rulename"><br>

      <label for="hostip">主机局域网IP:</label><br>
      <input type="text" id="hostip" name="hostip"><br>
        <!-- 添加协议选择下拉框 -->
      <label for="protocol">协议:</label><br>
      <select id="protocol" name="protocol">
        <option value="tcp">TCP</option>
        <option value="udp">UDP</option>
        <option value="both" selected>TCP/UDP</option>
      </select><br>

      <label for="port">映射端口:</label><br>
      <input type="text" id="port" name="port"><br>

        <div class="form-row">
          <!-- 使用fieldset和legend来包裹label和checkbox -->
          <div class="checkbox-div">
              <div class="checkbox-in">
            <legend class="checkbox-legend">UPnP</legend>
            <input type="checkbox" id="upnp" name="upnp" aria-label="是否使用UPnP">
              </div>
          </div>

          <div class="checkbox-div">
               <div class="checkbox-in">
            <legend class="checkbox-legend">启用状态</legend>
            <input type="checkbox" id="ruleenabled" name="enabled" aria-label="是否启用">
               </div>
          </div>
        </div>

      <div id="errorMessages" style="color: red; display: none;">
        <ul id="errorList"></ul>
      </div>

        <div class="button-div">
       <div class="button-container">
        <button id="submitbutton" class="buttondouble">提交</button>
        <button id="canclebutton" class="buttondouble">取消</button>
       </div>
        </div>
    </form>
  </div>
</div>
{% endmacro %}
{% macro manager_content() %}
 {% include 'statusbar.html' %}
    <div class="connection-list">

        <table class="table">
    <thead>
        <tr>
            <th>名称</th>
            <th>主机IP</th>
            <th>协议</th>
            <th>端口</th>
            <th>Upnp</th>
            <th>是否启用</th>
            <th>操作</th> <!-- 新增这一列来显示操作按钮 -->
        </tr>
    </thead>
    <div class="manage-head">
        <div class="manage-title">
            <div >
                <button id="addbutton" type="button" class="custom-button"  title="添加规则">
                        <svg viewBox="64 64 896 896" data-icon="plus" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false">
                            <path d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"></path>
                            <path d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"></path>
                        </svg>
                </button>
                <button id="runbutton" type="button" class="custom-button" title="启动所有已启用规则">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"  fill="currentColor" aria-hidden="true" focusable="false">
                     <path d="M8 5v14l11-7z" transform="translate(-2, 0)"/>
                    </svg>
                </button>
                <button id="stopbutton" type="button" class="custom-button stop-button" title="停止所有进程">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"  fill="currentColor" aria-hidden="true" focusable="false">
                        <rect width="15" height="15"  transform="translate(3, 3)" />
                    </svg>
                </button>
            </div>
            <div class="show-message">
                <label id="remain-info"></label>
            </div>
        </div>
    </div>
    <tbody>
        {% for rule_id, rule in main_dict.rules.items() %}
        <tr id="{{ rule_id }}">
            <td>{{ rule.rulename }}</td>
            <td>{{ rule.hostip }}</td>
            <td>{{ rule.protocol }}</td>
            <td>{{ rule.port }}</td>
            <td><input type="checkbox" disabled aria-label="upnp" {% if rule.upnp %}checked{% endif %}></td>
            <td><input type="checkbox" disabled aria-label="是否启用" {% if rule.enabled %}checked{% endif %}></td>
            <td>
                <div class="button-div">
                    <div class="editbutton-container">
                        <button type="button" class="buttondouble" data-action="edit">
                            修改
                        </button>
                        <button type="button" class="buttondouble" data-action="delete">
                            删除
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>

{{ manager_modal() }}
{% endmacro %}
{% extends "base.html" %}

{% block content %}
    {{ manager_content() }}
{% endblock %}

{% block bodytail %}
    {{ css_script() }}
{% endblock %}