    <div class="data-summary">
        <div class="summary-item">
            Natter版本:
            <span class="tag-green">{% block version %}{{ (main_dict.netstatus|default({})).get('ver') }}{% endblock %}</span>
        </div>

        <div class="summary-item">
            TCP NAT检测:
            <div class="nat-item">
            <span class="tag-green" data-nat="tcpnat">{% block tcpnat %}{{ (main_dict.netstatus|default({})).get('tcpnat') }}{% endblock %}</span>
            <button class="update-btn" aria-label="更新ip"></button>
            </div>
        </div>

        <div class="summary-item">
            UDP NAT检测:
            <div class="nat-item">
            <span class="tag-green" data-nat="udpnat">{% block udpnat %}{{ (main_dict.netstatus|default({})).get('udpnat') }}{% endblock %}</span>
            <button class="update-btn" aria-label="更新ip"></button>
            </div>
        </div>
        <div class="summary-item">
            主机IP:
            <span class="tag-green">{% block hostip %}{{ (main_dict.netstatus|default({})).get('localhostip') }}{% endblock %}</span>
        </div>
        <div class="summary-item">
            公网IP:
            <span class="tag-green">{% block publicip %}{{ (main_dict.netstatus|default({})).get('internetip') }}{% endblock %}</span>
        </div>
    </div>
